.filter-bar {
  padding: 1rem;
  border-radius: 8px;
  width: 82%;
  margin: 40px auto;
  box-shadow: 0px 1px 3px -1px;
  }
  
  .filter-bar form {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .filter-input {
    display: flex;
    align-items: center;
  }
  
  .filter-input label {
    font-weight: bold;
  }
  
  .filter-input input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:100%;
  }
  
  .secrhbtn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .filter-bar {
      width: 80%; /* Slightly larger width for mobile devices */
    }
  
    .filter-bar form {
      flex-direction: column; /* Stack form elements vertically on smaller screens */
    }
  
    .filter-input {
      width: 100%; /* Ensure inputs take full width */
    }
    
    .filter-input input {
      margin-bottom: 1rem; /* Add space between inputs */
    }
  
    .secrhbtn {
      width: 100%; /* Full width for the button on mobile */
      margin-top: 1rem; /* Space above the button */
    }
  }
  
  /* For large screens (desktops) */
  @media (min-width: 1024px) {
    .filter-bar {
      width: 70%; 
    }
  
    .filter-bar form {
      flex-direction: row; 
    }
  }