/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 15px 30px;
    color: white;
  }
  .navbar .bars{
    display: none;
  }
  
  
  .navbar-logo h1 {
    margin: 0;
    font-size: 1.8rem;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .navbar-links li{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    cursor: pointer;
  }
  
  /* .navbar-links li:hover {
    color: #e9ecef;
    border-radius: 6px;
    padding: 5px 12px;
    color: #007bff;
  } */
  
  @media screen and (max-width: 480px) {
    .navbar-links {
      display: none;
    }
 
    .open{
      position: absolute;
      left: 0;
      display: flex;
      flex-direction: column;
      background: #007bff;
      width: 35%;
      justify-content: center;
      text-align: center;
      list-style: none;
      top: 0;
      padding: 15px;
      height: -webkit-fill-available;
      transition: width 2s;
      
    }
    .navbar .bars{
      display: block;
      width: 20px;
      height: 20px;
    }
    .bars1
    {background: white;
    width: 20px;
    margin: 4px 0px;
    height: 2px;}
  }
  