/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 15px 30px;
    color: white;
  }
  
  .navbar-logo h1 {
    margin: 0;
    font-size: 1.8rem;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    cursor: pointer;
  }
  
  .navbar-links a:hover {
    color: #e9ecef;
  }
  @media screen and (max-width: 480px) {
    .navbar-links{
      display: none;
    }
  }
  