
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }

  

  .home-container {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0;
  }

  .headinghome {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .popularjheader{
    color: #444;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .headinpara{
    color: #666;
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .home-container_btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
 
  button:hover {
    background-color: #0056b3;
  }

  .rightBar{
    width: 50%;
  }
  .rightBar .imgside img{
    width:100%;
  }
  

  .job_cont{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .job_contmap {
    background: #e9ecef;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    width: 160px;
    height: 121px;
  }
  .hometopdv{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 98%;
   }
  .hometopdv2{
    width: 50%;
    padding:45px 15px;
    margin-bottom:50px,
  }
  .sponsors {
    text-align: center;
    margin: 40px 0;
  }
  
  .sponsors h2 {
    margin-bottom: 20px;
  }
  
  .sponsors-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .sponsors-container img {
    width: 150px;
    height: auto;
    border-radius: 8px;
  }
  
  .footer {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
    margin-top: 40px;
  }
  
  .footer p {
    margin: 0;
  }
  
  
  @media screen and (max-width:600px) {
   .hometopdv{
    display: block;
   }
   .home-container_btn_main {
    display: flex;
    align-items: center;
    justify-content: center;
}
   .job_contmap{width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
   }
   .hometopdv2{
    width: 100%;
    padding:0px;
    text-align: center;
   }
   .rightBar{
    width: 100%;
    margin: 30px 0px;
   }
   .job_cont{
    display: block;
   }
  }